@charset "utf-8";

*{
  margin: 0;
  padding: 0;
}

/* Google fonts適用 */
/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 100 to 900 */

body {
  /* フォント設定 */
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  /* レイアウト */
  background-color: #ffffff;
}
h2{
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  margin: 40px auto;
}


/* =======
   Header 
=========*/
header {
  width: 100%;
  height: auto;

}
a{
  font-size: 34px;
  font-weight: bold;
  text-decoration: none
}
nav{
  max-width: 960px;
  margin: 20px auto;
  height: auto;
  display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#myProfile{
  width: 200px;
  height: 69px;
  line-height: 69px;
  margin-left: 20px;
  text-align: center;
  border: solid 1px #000000;
  color: #000000 !important;
}
.mpLink{
  margin: 0 20px;
  width: 100px;
  height: 69px;
  line-height: 69px;
  text-align: center;
  color: #000000 !important;
}

/* TOPボタン */
#top {
  visibility: hidden; /* display: none; はalignやjustifyプロパティを無効化するため、visibly:hiddenを適用 */
  position: fixed; /*ボタンの位置固定*/
    bottom: 38px;
    right: 20px;
  align-items: center; 
  justify-content: center; 
  background-color: #000000;
  font-size: 20px;
  /* 丸形にする */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  z-index: 100;
}
#top a {
  color: #ffffff;
  text-decoration: none;
  text-align: center;
}

/* ============
  Main Visual
==============*/
.mainVisual {
  z-index: 90;
}

.mainVisual img{
  width: 100%;
  z-index: 80;
}

/* ============
     About
==============*/
/* 最初は非表示 */
#about{
  visibility: hidden;
}
/* jsのアニメーション用クラスを設定 */
.active{
  visibility: visible;
  /* transition: opacity 500ms ease-in; */
}

#aboutDescroption{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}
#aboutImg{
  width: 300px;
  height: 300px;
  margin-right: 40px;
  border-radius: 50%;
}
#aboutPerson{
  margin-left: 40px;
}
#aboutPerson > h3{
  font-size: 24px;
  margin: 20px 20px;
}
#aboutPerson > ul{
  margin-left: 20px;
}

/* ============
     Works
==============*/
/* 最初は非表示 */
#works{
  visibility: hidden;
}

#worksBox{
  display: flex;
    justify-content: center;
    flex-wrap: wrap; /*wrapするかは後で考える*/
}
.worksContent{
  max-width: 300px;
  padding: 10px;
}
.worksImg > img{
  width: 100%;
}

/* ================
     Works/Mordal
==================*/
.worksMordal{
  /* display:none; */
  position:fix;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);

}


/* ============
    footer
==============*/
#copyRight{
  text-align: center;
  margin: 30px auto;
}